/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,300;0,400;0,700;1,500&display=swap");

body {
  background-color: rgb(20, 20, 20);
  color: rgb(255, 255, 255);
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: center;
}

header ul {
  display: flex;
  padding: 1rem 1rem 5rem 1rem;
}

li {
  list-style: none;
  margin: 0.5rem 1rem;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-section {
  margin-top: 17vh;
  text-align: center;
}

h1 {
  font-size: 16rem;
  font-weight: 700;
  margin: 0;
}

h2,
h3 {
  margin: 0;
  font-weight: 300;
}

.subtitle {
  font-size: 5rem;
}

.light-text {
  font-weight: 100;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
}

footer ul {
  display: flex;
  padding: 1.5rem;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

a:hover {
  color: rgb(70, 69, 73);
}

.wave {
  fill: rgb(0, 0, 0);
  width: 100vw;
  height: 60vh;
  position: fixed;
  bottom: 0;
  left: 0;
}

#nav-bar {
  width: 7rem;
  height: 28rem;
  background-color: rgb(255, 255, 255);
  border-radius: 2rem 0 0 2rem;
  /* position: fixed; */
  position: absolute;
  right: -6rem;
  top: 20vh;
}

.nav-bar {
  width: 7rem;
  height: 28rem;
  background-color: rgb(255, 255, 255);
  border-radius: 2rem 0 0 2rem;
  /* position: fixed; */
  position: absolute;
  right: -6rem;
  top: 20vh;

  animation-name: slideLeft;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes slideLeft {
  from {
    right: -6rem;
  }
  to {
    right: 0;
  }
}

.nav-item {
  width: 100%;
  height: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-self: center;
}

.nav-item a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 500;
}

/* Work page */

.work-details {
  width: 50%;
}

.work-details tr {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

.work-details a:hover {
  color: rgb(70, 69, 73);
  text-decoration: underline;
}

/* About page */

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem;
}

.about-container h1 {
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.about-container h2 {
  margin-bottom: 3rem;
}

.about-container p {
  margin: 4rem 4rem;
  text-align: center;
}

.about-container img {
  border-radius: 50%;
  margin-bottom: 3rem;
  height: 12rem;
  width: 12rem;
}

.under-wave {
  fill: rgb(0, 0, 0);
  width: 100vw;
  height: 60vh;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
}

/* Home page nav-bar */

.home-nav-bar-item {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-nav-bar-item a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 500;
}

#home-nav-bar {
  width: 7rem;
  height: 4rem;
  background-color: rgb(255, 255, 255);
  border-radius: 2rem 0rem 0rem 2rem;
  /* position: fixed; */
  position: absolute;
  right: -6rem;
  top: 5vh;
}

.home-nav-bar {
  width: 7rem;
  height: 4rem;
  background-color: rgb(255, 255, 255);
  border-radius: 2rem 0rem 0rem 2rem;
  /* position: fixed; */
  position: absolute;
  right: 0rem;
  top: 5vh;

  animation-name: slideLeft;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes slideLeft {
  from {
    right: -6rem;
  }
  to {
    right: 0;
  }
}

/* Contact page nav-bar */

.contact-nav-bar-item {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-nav-bar-item a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 500;
}

#contact-nav-bar {
  width: 7rem;
  height: 4rem;
  background-color: rgb(255, 255, 255);
  border-radius: 2rem 0rem 0rem 2rem;
  /* position: fixed; */
  position: absolute;
  right: -6rem;
  top: 13vh;
}

.contact-nav-bar {
  width: 7rem;
  height: 4rem;
  background-color: rgb(255, 255, 255);
  border-radius: 2rem 0rem 0rem 2rem;
  /* position: fixed; */
  position: absolute;
  right: 0rem;
  top: 13vh;

  animation-name: slideLeft;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

/* Skills Page */

.skills-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.skills-container h1 {
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 3rem;
  text-align: center;
}

.skills-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
  justify-content: center;
}

.skills-row {
  display: flex;
  flex-direction: row;
  width: 80vw;

  justify-content: space-around;
}

.skills-row div {
  width: 12%;

  text-align: center;
  padding: 0;
  margin: 1rem;
  align-items: center;
}

.svg-icon {
  width: 60%;
  height: 60%;
}

@media only screen and (min-width: 1500px) {
  .skills-row {
    display: flex;
    flex-direction: row;
    width: 60vw;
    height: 40%;
    justify-content: space-between;
  }
}

/* Contact Page */

.form-submit {
  width: 50%;
  position: relative;
  top: 10vh;
}

.form-submit h2 {
  text-align: center;
}

.form-submit form {
  width: 100%;
  height: 70vh;
}

.form-submit .form-row {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0rem;
}

.form-row .form-control {
  font-family: "Josefin Sans", sans-serif;
  width: 46%;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  padding: 0.5rem;
}

.form-row .form-control:focus,
.form-submit textarea:focus {
  outline: 0;
  background-color: azure;
}

.form-submit textarea {
  font-family: "Josefin Sans", sans-serif;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  padding: 0;
  resize: none;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .form-submit {
    width: 90%;
    position: relative;
    top: 15vh;
  }

  .form-row .form-control {
    font-family: "Josefin Sans", sans-serif;
    width: 97%;
    border: none;
    border-radius: 0.25rem;
    font-size: 1rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .form-submit .form-row {
    display: flex;
    flex-direction: column;
    margin: 2rem 0rem;
  }
}

.form-submit button {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  padding: 1rem;
  margin-top: 2rem;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 0.25rem;
}

.form-submit button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(20, 20, 20);
  cursor: pointer;
}
